GOOGLE_DRIVE_FOLDER_ID=1kIrKfCzU9oFgZJYSUOZxlUvSPZFUMGgf
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_OAUTH_CLIENT_SECRET_FILE=
GOOGLE_OAUTH_TOKEN_FILE=tmp/google-oauth-token.json
GOOGLE_OAUTH_MODE=local-server
